div{

    border: black 1px solid;

    margin: 5px;

    text-align: center;

}
.main{font-size: xx-large;}


}
 

.Innhold{

    min-height: 300px;

    margin: 10px;

    text-align: center;

}