div{

    border: black 1px solid;

    margin: 5px;

    text-align: center;

}
.main{font-size: xx-large;}


.nav li{
display: inline;

}





 .nav{ 


    min-height: 200px;

    margin: 10px;

    text-align: center;


 }



.Innhold{

    min-height: 300px;

    margin: 10px;

    text-align:left;

}

